{% extends 'equipment/page.html' %}

{% block title %}
    Оборудование
{% endblock %}

{% block content %}

    <h1>Оборудование КТВ</h1>

    <table class="table table-striped">
        <tr>
            <th>Район</th>
            <th>Адрес</th>
            <th>Обозначение</th>
            <th>IP адрес</th>
            <th>Модель</th>
        </tr>

        {% for switch in switches %}
            <tr>
                <td>{{ switch.switch_house.street_house.id_area }}</td>
                <td>{{ switch.switch_house }}</td>
                <td>{{ switch.name_switch }}</td>
                <td><a href="http://{{ switch.ipaddr_switch }}" target="_blank">{{ switch.ipaddr_switch }}</a></td>
                <td>{{ switch.switch_modelid }}</td>
            </tr>
        {% endfor %}

    </table>


{% endblock %}