{% extends 'equipment/page.html' %}

{% block title %}
    Оборудование
{% endblock %}

{% block content %}

    <h1>Оборудование КТВ</h1>

    <table class="table table-striped">
        <tr>
            <th>Район</th>
            <th>Адрес</th>
            <th>Обозначение</th>
            <th>IP адрес</th>
            <th>Модель</th>
            <th>Description</th>
        </tr>

        {% for switch in switches %}
            <tr>
                <td>{{ switch.switch_house.street_house.id_area }}</td>
                <td>{{ switch.switch_house }}</td>
                <td>{{ switch.name_switch }}</td>
                <td><a href="http://{{ switch.ipaddr_switch }}" target="_blank">{{ switch.ipaddr_switch }}</a></td>
                <td>{{ switch.switch_modelid }}</td>
                <td>
                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#modal-info">Посмотреть</button>
                </td>
            </tr>



        {% endfor %}

    </table>


{% endblock %}

{% block modal-content %}

    <div class="modal-header">
        <button class="close" type="button" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Descripion</h4>
    </div>
    <div class="modal-body">
        <p>Тут будет таблица с дескрипшеном!</p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-danger" type="button" data-dismiss="modal">Закрыть</button>
    </div>

{% endblock %}